.formSection {
    padding-bottom: 50px;
}

.inputContainer {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    min-width: 296px;
    max-width: 369px;
    min-height: 402px;
    max-height: 557px;
    border-radius: 3px;
    padding: 33px 17px;
    background-color: var(--color-grey-3);
    margin: 0px 12px;

    div {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    h1 {
        text-align: center;
        color: #F8F9FA;
    }

    input {

        width: 263px;
        height: 38px;
        border-radius: 3.2px;
        border: 0.97px solid var(--color-grey-2);
        padding: 0px 13px 0px 13px;
        background-color: var(--color-grey-2);
        color: var(--color-grey-1);

        &::placeholder {
            color: var(--color-grey-1);
            font-size: 13px;
            line-height: 21px;
            font-weight: 400;
        }

        &:focus {
            background-color: var(--color-grey-2);
            color: var(--color-grey-0);
        }

    }

    label {
        font-weight: 400;
        font-size: 12.18px;
        color: var(--color-grey-0);
    }

    button {
        a {
            text-decoration: none;
            color: var(--color-grey-0);
        }
    }

    p {
        font-weight: 600;
        font-size: 9.63px;
        line-height: 14.44px;
        color: var(--color-grey-1);
        text-align: center;
    }
}