.title1 {
    font-weight: 700;
    font-size: 18px;
}

.title2 {
    font-weight: 700;
    font-size: 16px;
}

.headline {
    font-weight: 400;
    font-size: 12px;
}

.headlineBold {
    font-weight: 700;
    font-size: 12px;
}

.paragraph {
    font-weight: 400;
    font-size: 16px;
}