.pageContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.registerHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 95px;
    min-width: 315px;
    max-width: 370px;

    img {
        min-width: 101px;
        max-width: 122px;
        min-height: 16px;
        max-height: 21px;
    }

    button {
        min-width: 67px;
        max-width: 80px;
        min-height: 31px;
        max-height: 40px;
        border-radius: 4px;
        padding: 0px 16px 0px 16px;
        background-color: var(--color-grey-3);
        border: none;

        a {
            text-decoration: none;
            color: var(--color-grey-0);

        }
    }
}