.cardContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-width: 294px;
    max-width: 780px;
    width: 100%;
    height: fit-content;
    flex-shrink: 0;
    border-radius: 4px;
    background-color: var(--color-grey-3);

}

.divContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-width: 275px;
    width: 90vw;
    max-width: calc(760px);
    height: 76px;
    gap: 1rem;
    margin: 6px 10px 16px 10px;
    padding: 14px;
    border-radius: 4px;
    background: #121214;
    flex-shrink: 0;

    @media (min-width: 1000px) {
        height: 49px;

        p {
            padding-top: 0.9375rem;
        }

    }

    .cardInfo {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        @media (min-width: 1000px) {
            span {
                position: relative;
                left: 37.3125rem;
                bottom: 1.25rem;
            }
        }
    }

    .cardIcons {
        align-self: flex-end;

        .iconBtn {
            background-color: transparent;
            color: var(--color-grey-1);
            border: none;
        }
    }
}