.pageContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 707px;
    max-height: 971px;
    height: 100%;
    // min-width: 320px;
    // max-width: 1600px;
    // width: 100%;

}


.userHeader {
    width: 100%;
    min-width: 350px;
    max-width: 665px;
    height: 72px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    img {
        width: 105px;
        height: 14.63px;
    }

    button {
        width: 80px;
        height: 31px;
        border-radius: 4px;
        padding: 0px 16px 0px 16px;
        background-color: var(--color-grey-3);
        border: none;

        a {
            color: #F8F9FA;
            text-decoration: none;
        }
    }

    @media (min-width: 600px) {
        padding: 0px 50px;
    }

}

.userMain {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-width: 350px;
    max-width: 665px;
    gap: 1rem;
    color: var(--color-grey-0);


    span {
        font-weight: 400;
        font-size: 12px;
        line-height: 22px;
        color: var(--color-grey-1);
    }

    div {
        display: flex;
        flex-direction: column;
        width: 100%;
        min-width: 350px;
        max-width: 665px;
        color: var(--color-grey-0);
        gap: 1rem;
        line-height: 24px;
    }

    .borderTopDiv {
        align-items: flex-start;
        min-width: 350px;
        width: 100%;
        max-width: 665px;
        height: 131px;
        justify-content: center;

        @media (min-width: 600px) {
            align-items: center;
            flex-direction: row;
            justify-content: space-between;
        }
    }

}


// .customLine {
    // border: none; 
    // border-top: 2px solid #333; 
    // width: 50%; /* 
    // margin: 0 auto;
// }